each section in sections
	.slide.section-slide(id="#{section._id}",
			class=collection.highlight == section.slug ? 'current' : '')

		button.remove-resource.btn.btn-danger.hide.pull-right(data-id="#{section.slug}", 
																data-collection="sections") &times;

		a(href="/#{section.slug}")
			img(src="#{section.thumbnail}", 
				height="150px", 
				width="150px", 
				title="#{section.slug}")
