each s in sections
	each story in s.stories
		.story(data-section='#{story._section}',
					class=collection.highlight ? 'hide' : '')

			small.caps #{story.title}

			button.remove-resource.btn.btn-danger.hide(data-id="#{story.slug}", 
														style="position: absolute; right:0;"
														data-collection="stories") &times;

			button.add-picture.btn.hide(style="position: absolute; right:0; bottom: 0;") &plus;

			br
			br
			.slider

				- if( story.pictures.length < 1 )
					a(href="/read/#{story.slug}")
						i.icon-arrow-right
				- else
					each picture, i in story.pictures
						.slide
							a(href="/read/#{story.slug}/#{i+1}")
								img(src="#{picture.thumbnail}")
