doctype 5
html
	head
		meta(charset="utf-8")
		meta(name='viewport', content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;")

		title= 'PictureRead'
		
		link(rel="stylesheet", type="text/css", href="css/bootstrap.min.css", media="screen")
		link(rel="stylesheet", type="text/css", href="css/bootstrap-responsive.min.css", media="screen")
		link(rel="stylesheet", type="text/css", href="css/styles.css", media="screen")

	body
		div.container
			div#header.row
				div.header-items
					div
						img(src='img/pr_splash_logorightheader.png', alt='PictureRead')
					div
						small= 'captures emotion'
					div
						small= 'tells stories'
					div
						small= 'engages with the world.'
			div#banner.row
				div.banner-image
					img.fade(src='img/pr_hero_image_splash2.png')

			div.row
				div.more-info
					form#info_form
						fieldset
							label= 'type your email address for updates'
							input(name='more_info', type='text', placeholder='email address')
							a(href='#')
								img(src='img/pr_splash_submitbutton.png')
							div.flash
							input.hide(type='submit')

			div#footer.row
				div.copyright
					small= '&copy; 2012 PictureRead'

		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
		script(src="js/bootstrap.min.js")
		script(src="js/client.js")