extends layout

block content
	// story, frame, total_frames, picture, ?rewrite
	#story(data-current="#{story._id}")
		if user && user._type == 'writer'
			input(name="permission", value="true", type="hidden")
		center
			a.story-title(href="/read/#{story.slug}/#{frame}")
				h4.caps #{story.title}
		
		.frame-nav
			span.nav-deco.ttip(data-toggle="tooltip", title="Current Picture")
				h2.frame-number(style="position: relative; left: -0.3em;") #{frame}
				h3(style="position: relative; bottom: 2em; left: 0.45em; color: #f0f0f0;") /#{total_frames}
			span.nav-deco.expand.ttip(data-toggle="tooltip", title="Toggle Objects")
				i.icon-plus.sprite-plus.active
			
			span.nav-deco.next-picture(class=frame < total_frames ? 'ttip' : '', data-toggle="tooltip", title="Next Picture")
				if frame < total_frames
					- var next = parseInt(frame) + 1;
					a.sprite-fwd(href="/read/#{story.slug}/#{next}")
				else
					b.sprite-fwd.inactive

			span.nav-deco.prev-picture(class=frame > 1 ? 'ttip' : '', data-toggle="tooltip", title="Previous Picture") 
				if frame > 1
					- var last = parseInt(frame) - 1;
					a.sprite-back(href="/read/#{story.slug}/#{last}")
				else
					b.sprite-back.inactive


			- var rewrite_share = ''
			- if( typeof(rewrite) != 'undefined' && picture.caption ) // This is a rewrite
				- var len = picture.caption.length

					- if( len == 1 )
						- rewrite_share += '' + picture.caption[0] + ' '
						- rewrite_share += ' ' + rewrite.text[0] + ''

					- else
						- rewrite_share += '' + picture.caption[0] + ' '
						- for(var i=1; i < len; i++)
							- rewrite_share += ' ' + rewrite.text[( i - 1 )] + ' '
							- rewrite_share += ' ' + picture.caption[i] + ''

			- else if( picture.caption && picture.caption.length ) // This is a normal caption
				- var len = picture.caption.length

					- if( len == 1 )
						- rewrite_share += '' + picture.caption[0] + ' '
						- rewrite_share += ' ' + picture.write[0] + ''

					- else
						- rewrite_share += '' + picture.caption[0] + ' '
						- for(var i=1; i < len; i++)
							- rewrite_share += ' ' + picture.write[ i - 1 ] + ' '
							- rewrite_share += ' ' + picture.caption[i] + ''
					
			span.nav-deco.ttip(data-toggle="tooltip", title="Share on Facebook")
				a.social-link(target="_blank", href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://pictureread.herokuapp.com/read/#{story.slug}/#{frame}&p[images][0]=#{picture.thumbnail}&p[title]=#{story.title}&p[summary]=#{rewrite_share}")
					i.icon-stop.sprite-fb.link-generator

			span.nav-deco.ttip(data-toggle="tooltip", title="Share on Twitter")
				a.social-link(target="_blank", href="https://twitter.com/intent/tweet?url=http://pictureread.herokuapp.com/read/#{story.slug}/#{frame}&text=#{story.title}&via=pictureread")
					i.icon-stop.sprite-twitter.link-generator

			span.nav-deco.chars.ttip(data-toggle="tooltip", title="Current Section")
				small SECTION
				a(href="/#{story._section.slug}")
					img(src="#{story._section.thumbnail}")
			span.nav-deco.more.ttip(data-toggle="tooltip", title="More Sections")
				a(href="/read")
					small MORE SECTIONS


		#frame
			#object-modal.modal.hide.fade(tabindex="-1", 
											role="dialog", 
											aria-labelledby="newObject", 
											aria-hidden="true")
				.modal-header
					button.close(type="button", 
									data-dismiss="modal", 
									aria-hidden="true") &times;
					h3#newObject New Object
				.modal-body
					center
						#new-object
							input(name="object-title", placeholder="Title for object")
							br
							br
							em Object Type:
							br
							select.object-type-select(name="object-type")
								option(disabled="disabled", 
										selected="selected") select one
								option blurb
								option information
								option sound
								option speech
								option music
								option animation
							br
							.cont
							br
							button.save-object.btn Add

			#caption-modal.modal.hide.fade(data-story="#{story.slug}", 
											data-picture='#{picture._id}', 
											data-frame="#{frame}", 
											tabindex="-1", 
											role="dialog", 
											aria-labelledby="newCaption", 
											aria-hidden="true")
				.modal-header
					button.close(type="button", 
									data-dismiss="modal", 
									aria-hidden="true") &times;
					h3#newCaption Add a Caption
				.modal-body
					center
						br
						input.caption-input(type="text", 
								placeholder="Part 1")
						br
						button.btn.btn-primary.add-part
							i.icon-plus
							i &nbsp;
							i add part
						i &nbsp;
						button.btn.btn-warning.remove-part
							i.icon-arrow-left
							i &nbsp;
							i undo
						i &nbsp;
						button.btn.save-caption Save

			center.interaction-container
				#frame_image
					button.remove-resource.btn.btn-danger.pull-right.hide(data-id='#{picture._id}', 
																			title="double-click to delete picture", 
																			data-collection="pictures", 
																			data-story="#{story.slug}",
																			data-frame="#{frame}",
																			style="position:absolute;right:0;top:0.1em;") &times;
					
					- if( typeof(rewrite) != 'undefined' && picture.caption ) // This is a rewrite
						- var len = picture.caption.length
						- var contents = ''

						#caption.add_object.hidden(style="left:20px; top:10px;")

							- if( len == 1 )
								- contents += '<span>' + picture.caption[0] + ' </span>'
								- contents += '<span> ' + rewrite.text[0] + '</span>'

							- else
								- contents += '<span>' + picture.caption[0] + ' </span>'
								- for(var i=1; i < len; i++)
									- contents += '<span> ' + rewrite.text[( i - 1 )] + '</span>'
									- contents += '<span> ' + picture.caption[i] + '</span>'

							a.interaction-popover(href="", 
													data-type="caption", 
													data-contents="#{contents}", 
													data-placement="right")
								i.icon-arrow-left.interaction-icon.caption
								span.txt

					- else if( picture.caption && picture.caption.length ) // This is a normal caption
						- var len = picture.caption.length
						- var contents = ''
						
						#caption.add_object(data-story="#{story.slug}", 
													data-picture="#{picture._id}", 
													data-frame="#{frame}", 
													style="left:20px; top:10px;")

							- if( len == 1 )
								- contents += '<span>' + picture.caption[0] + '</span>'
								- contents += '<input class="caption-fill" name="edit[0]" placeholder="' + picture.write[0] + '">'

							- else
								- contents += '<span>' + picture.caption[0] + '</span>'
								- for(var i=1; i < len; i++)
									- contents += '<input class="caption-fill" name="edit[' + ( i - 1 ) + ']" placeholder="' + picture.write[ i - 1 ] + '">'
									- contents += '<span>' + picture.caption[i] + '</span>'

							- contents += '<br><br><center><a href="#" class="add-rewrite">Rewrite in the blank(s).</a></center>'

							a.interaction-popover(href="", 
													data-type="caption", 
													data-title="caption",
													data-contents="#{contents}", 
													data-placement="right")
								i.icon-arrow-left.interaction-icon.caption
								span.txt
							button.remove-resource.interaction.btn.btn-mini.btn-danger.hide(data-id="delete", 
																							data-story="#{story.slug}", 
																							data-pic="#{picture._id}", 
																							data-collection="captions") &times;

							button.btn.btn-danger.hide.remove-object(id="#{picture.caption._id}", 
																		data-object-type="caption") &times;
					
					- else
						if user && user._type == 'writer'
							button.add-caption.btn.add_object(data-toggle="modal", 
																		data-target="#caption-modal", 
																		style="float:left; top:0.1em;")
								i.icon-plus
								i &nbsp;
								i add caption

					img(src="#{picture.image}", data-current="#{picture._id}")

					each obj in picture.interactions
						.add_object.rs(style="left:#{obj.position[0]}%; top:#{obj.position[1]}%;")
							a.interaction-popover(href="", 
													data-type="#{obj.type}", 
													data-contents="#{obj.media}", 
													data-title=obj.title === 'undefined' ? obj.type : obj.title + '<button class="btn btn-mini pull-right">X</button>')
								i.icon-arrow-left.interaction-icon(class="#{obj.type}")
								span.txt
							button.remove-resource.interaction.btn.btn-mini.btn-danger.hide(data-id="#{obj._id}", 
																							data-story="#{story.slug}", 
																							data-pic="#{picture._id}", 
																							data-collection="interactions") &times;










