extends layout

block content
	#story.span12
		center
			h3.caps #{story.title}
		- var this_frame = story.frames[parseInt(frame) - 1];
		input(name="img", type="hidden", value="#{this_frame.image}")
		.frame-nav
			span.nav-deco 
				b #{frame}
			span.nav-deco 
				b &plus;
			span.nav-deco
				if frame < 3
					- var next = parseInt(frame) + 1;
					a(href="/stories/#{story._id}/#{next}") &gt;
				else
					b &gt;
			span.nav-deco 
				if frame > 1
					- var last = parseInt(frame) - 1;
					a(href="/stories/#{story._id}/#{last}") &lt;
				else
					b &lt;
			span.nav-deco 
				b: em f
			span.nav-deco 
				b: em t
			span.nav-deco.chars
				img(src="/img/characters.png")

		#frame
			center
				#frame_image
