extends layout

block content
	#stories
		if locals.stories
			each story, i in stories
				.story.span12
					hr
					hr
					.title.row
						if locals.user
							if story.writer == user._id
								p.highlight MATCH
								a.destroy_story.icon-remove-sign(href="", id="#{story._id}")
						center.span10.offset1
							a(href="/stories/#{story._id}") #{story.title}
					.frames.row
						center
							each frame, f in story.frames
								a(href="/stories/#{story._id}/#{f}")
									img(src="#{frame.src}", alt="#{frame.text}", width="100px")

